#stream_analyzer {
    background-color: transparent;
}

#stream_analyzer .block-border {
    border: 1px solid #cccccc!important;
}

#stream_analyzer .block-btn {
    margin: 2px;
    padding: 5px;
    width: 24%;
}

#stream_analyzer .wait {
    color: #D4291F;
    background-color: #FFFFFF;
    border: 1px solid #D4291F;
}

#stream_analyzer .btn:hover {
    color: #FFFFFF;
    background-color: #D4291F;
}

#stream_analyzer .row-three .col-md-6, #stream_analyzer .row-four .col-md-6 {
    width: 49% !important;
}

#stream_analyzer .row-three .col-md-6:first-child {
    margin-right: 22px;
}

#stream_analyzer .row-four .col-md-6:first-child {
    margin-right: 22px;
}

#stream_analyzer .row-block {
    margin: 10px 0px;
}