<div class="qa_timeRefresh">
    <span>Average Data Over</span>
    <select>
        <option value="2">2 Mins</option>
        <option value="5">5 Mins</option>
        <option value="10">10 Mins</option>
        <option value="15">15 Mins</option>
        <option value="30">30 Mins</option>
    </select>
</div>